# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib
# 
# Droppings
#
*~
# Packages, build products
*.ipk
*.opk
*.deb
#
# Executables
#
*.exe
*.out
*.app
clientTest
rediSerial
serialServer
tst
serialStdio
.gdb_history
