# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Packages, build products
*.opk
*.deb

# Executables
*.exe
*.out
*.app
clientTest
rediSerial
serialServer
tst
serialStdio
opkg-arm
